html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* keeps image fixed while scrolling */
}
