html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-image: url('./assets/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: fixed; /* fixed so it covers the whole viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(241, 255, 238, 0.7); /* overlay tint */
    z-index: 0;
    pointer-events: none;
}
